*{
    font-family: "GohuFont 14 Nerd Font";
}

body {
    background-color: #1F282E;
}

.search_box {
    display: flex;
    margin-top: 10px;
    vertical-align: center;
    justify-content: center;
}



button {
    background-color: #1F282E;
    color: #59C99C;
    box-shadow: 0 0 4px 4px #121212;
    border-radius: 4px;
    border: none;
    height: 41px;
    width: 41px;
    margin-top: 5px;
}

.button_up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #59C99C;
    color: #1F282E;
}

.button_down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #59C99C;
    color: #1F282E;
}

.button_left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #59C99C;
	border-bottom: 25px solid transparent;
    color: #1F282E;
}

.button_right {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #59C99C;
	border-bottom: 25px solid transparent;
    color: #1F282E;
}

input {
    width: 690px;
    height: 40px;
    margin: 5px;
    background-color: #1F282E;
    color: #59C99C;
    box-shadow: 0 0 4px 4px #121212;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
}

input:focus, input:active {
    width: 690px;
    height: 40px;
    margin: 5px;
    background-color: #1F282E;
    color: #59C99C;
    box-shadow: 0 0 4px 4px #121212;
    border-radius: 4px;
    border: none;
    outline: none;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 20px;
    line-height: 0;
}

#greeting, #time {
    font-size: 28px;
    color: #59C99C;
}

@media all and (max-width: 600px) {
    .info {
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 25px;
    }
}
.list_title
{
    font-size: 28px;
    border-bottom: solid 2px #9F789A;
}
.lists {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    vertical-align: center;
    justify-content: center;
}

.name {
    position: relative;
    text-align: center;
    white-space: pre;
    color: #59C99C;
}

.watch, .social, .dev, .linux, .other {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1F282E;
    box-shadow: 0 0 4px 4px #121212;
    border-radius: 4px;
    margin: 5px;
    width: 200px;
    padding: 40px;
}

a {
    transition: color 0.3s ease;
}
a:visited, a:link, a:active {
    color: #59C99C;
    text-decoration: none;
    font-size: 24px;
    text-indent: 2px;
    line-height: 1.6;
}
a:hover {
    color: #59C99C;
    text-decoration: underline;
}
#w,#s,#d,#l,#e
{
    color: #59C99C;
}
#mode {
   filter: invert(100%) sepia(0%) saturate(1620%) hue-rotate(8deg) brightness(94%) contrast(88%)
}
#mode:hover {
    filter: invert(56%) sepia(45%) saturate(6917%) hue-rotate(173deg) brightness(96%) contrast(82%) !important
}

